body {
    background-color: #34495e;
    font-family: "Lato", sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow:3px 3px 0 #000;
    font-size: 60px;
}

footer {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-shadow:1px 1px 0 #000;
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

.inputarea {
    max-width: 800px;
    margin: auto;
}

.error {
    color: rgb(252, 132, 132);
    text-shadow:1px 1px 0 black;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.error--hidden {
    display: none;
}

input[type=text]{
    width: 65%;
}

input[type=submit] {
    width: 30%;
}

li {
    /* flex: 0 0 93%; */
    flex: 0 0 100%;
    pointer-events: none;
}

.box {
    padding:10px;
    word-wrap: break-word;
    cursor: pointer;
    display: flex;
    background: #e1f2f8;
}

.box:nth-child(even) {
    background: #cce7f0;
}

.box--ticked {
    background: #34495e;
    color: lightgray;
    text-decoration: line-through;
}

.box--ticked:nth-child(even) {
    background: #34495e;
}

.box--hidden {
    display: none;
}

/* These are for the editing note icons, not HTML buttons. */
.buttons {
    float: right;
}

    .buttons a:link {
        color: #727171;
        text-shadow:1px 1px 0 black;
        padding-left: 4px;
        padding-right: 4px;
    }

    .buttons a:visited {
        color: #727171;
        text-shadow:1px 1px 0 black;
    }

    .buttons a:hover {
        color: rgb(196, 196, 196);
        text-shadow: none;
    }
    