body {
    background-color: #34495e;
    font-family: "Lato", sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow:3px 3px 0 #000;
    font-size: 60px;
}

footer {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-shadow:1px 1px 0 #000;
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

.inputarea {
    max-width: 800px;
    margin: auto;
}

.error {
    color: rgb(252, 132, 132);
    text-shadow:1px 1px 0 black;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.error--hidden {
    display: none;
}

input[type=text]{
    width: 65%;
}

input[type=submit] {
    width: 30%;
}

li {
    flex: 0 0 90%;
    pointer-events: none;
    word-break: break-all;
}

.box {
    padding:10px;
    word-wrap: break-all;
    cursor: pointer;
    display: flex;
    background: #e1f2f8;
    transition: transform 100ms ease-in-out;
    /* transform-origin: right; */
}

.box:nth-child(even) {
    background: #cce7f0;
}

.box:hover {
    transform: scale(1.02, 1.05);

  }

.box--ticked {
    background: #34495e;
    color: lightgray;
    text-decoration: line-through;
}

.box--ticked:nth-child(even) {
    background: #34495e;
}

.box--hidden {
    display: none;
}

/* These are for the editing note icons, not HTML buttons. */
.buttons {
    float: right;
    /* display: flex; */
}

    .buttons a:link {
        color: #34495e;
        /* text-shadow:1px 1px 0 black; */
        padding-left: 3px;
        padding-right: 3px;
    }

    .buttons a:visited {
        color: #34495e;
    }

        .buttons--ticked a:link {
            color: gray;
            text-decoration: line-through;
        }

        .buttons--ticked a:visited {
            color: gray;
            text-decoration: line-through;
        }

        .buttons a:hover {
            color: rgb(196, 196, 196);
            text-shadow: none;
        }


.options {
    width: 30%;
}

.clearBox {
    width: 30%;
    display: block;
    margin: auto;
}

/* The Modal (background) */
.myModal {
    display: block;
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
    background-color: #e1f2f8;
    margin: 15rem auto;
    padding: 50px;
    border: 1px solid black;
    max-width: 600px; /* Could be more or less, depending on screen size */
}

.myModal--hidden {
    display: none;
}

.quote {
    color: gray;
}